@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ymi985');
  src:  url('fonts/icomoon.eot?ymi985#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ymi985') format('truetype'),
    url('fonts/icomoon.woff?ymi985') format('woff'),
    url('fonts/icomoon.svg?ymi985#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-conference-time:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-up:before {
  content: "\e904";
}
.icon-conference-add-particiopant:before {
  content: "\e905";
}
.icon-conference-add:before {
  content: "\e906";
}
.icon-conference-collected:before {
  content: "\e907";
}
.icon-conference-desk:before {
  content: "\e908";
}
.icon-conference-hand-up:before {
  content: "\e909";
}
.icon-conference-local:before {
  content: "\e90a";
}
.icon-conference-more:before {
  content: "\e90b";
}
.icon-conference-network:before {
  content: "\e90c";
}
.icon-conference-reduce:before {
  content: "\e90d";
}
.icon-conference-unCollected:before {
  content: "\e90e";
}
.icon-conference-vote:before {
  content: "\e90f";
}
.icon-mdi-call-end:before {
  content: "\e910";
}
.icon-mdi-fullscreen-exit:before {
  content: "\e911";
}
.icon-mdi-fullscreen:before {
  content: "\e912";
}
.icon-mdi-mic:before {
  content: "\e913";
}
.icon-mdi-moff:before {
  content: "\e914";
}
.icon-mdi-picture-as-pdf:before {
  content: "\e915";
}
.icon-mdi-setup-video:before {
  content: "\e916";
}
.icon-mdi-videocam-off:before {
  content: "\e917";
}
.icon-mdi-videocam:before {
  content: "\e918";
}
.icon-mdi-volume-down:before {
  content: "\e919";
}
.icon-mdi-volume-up:before {
  content: "\e91a";
}
.icon-tool-annotate:before {
  content: "\e91b";
}
.icon-tool-delete:before {
  content: "\e91c";
}
.icon-tool-draw:before {
  content: "\e91d";
}
.icon-tool-format:before {
  content: "\e91e";
}
.icon-tool-laser-pen:before {
  content: "\e91f";
}
.icon-tool-line:before {
  content: "\e920";
}
.icon-tool-rect:before {
  content: "\e921";
}
.icon-tool-redo:before {
  content: "\e922";
}
.icon-tool-rubber:before {
  content: "\e923";
}
.icon-tool-save:before {
  content: "\e924";
}
.icon-tool-select:before {
  content: "\e925";
}
.icon-tool-text:before {
  content: "\e926";
}
.icon-tool-triangle:before {
  content: "\e927";
}
.icon-tool-undo:before {
  content: "\e928";
}
.icon-tool-whiteboard:before {
  content: "\e929";
}
